:host {
    border-bottom: 1px solid #e4e4e4 ;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    
}
.header{
    width: 100%;
    border: 1px spoild black;
    height: auto;
    display: flex;  
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;

}
.header .logo{
    float: left;
    order: 1;
}
.header .logo img{
    width: 80px;
    height: 80px;
}
.header .nav-menu{
  
    display: flex;
    justify-content: flex-end;
    order: 3;
}
.header  .find {
    text-align: left;
    flex: 3 0px;
    order:2;
}
.header  .find .Tp select {
    width: 150px;
}
.header .nav-menu ul{
    height: 20 px;
    display: flex;
    flex-wrap : nowrap;
    align-items: center; 
}
.header .nav-menu ul li{
    height: 15 px;
    margin: 0 10px 0 10PX;
    display: flex;
    border-bottom: 2px solid transparent;
}
a{  
    color: black;
    text-decoration: none;
    font-size: 14px;
}
.header .nav-menu ul li:hover{
    border-bottom-color: black;
}
.header .selected {
    flex: 1 100%;
    order: 4;
    height: 100%;
    
}
.header .selected a {
   margin-top: 20px;
   margin-right: 10px;
}
.header .selected a span{
    margin-right: 10px;
    font-size: 20px;
    font-family:  Gill Sans Extrabold, sans-serif;
}
.find{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: baseline;
	align-content: center;
}
.find .Quan select{ 
    width: 100px;
}