<div class=" header">
  <div class="logo">
    <img src="../../assets/logo.png">
  </div>
  <div class="find">
    <div class="Tp">
      <select [(ngModel)]="selected" (ngModelChange)="selectTp(selected)"> 
          <option *ngFor="let item of Tps" [value]="item.code">{{item.name}}</option>
      </select>
    </div>
    <div class="Quan">
      <select [(ngModel)]="selectedQ">
        <option *ngFor="let item of Quans"value="{{item.code}}">{{item.name}}</option>
    </select>
    
    <button (click)="search()"  >Search</button>
    </div>
    <div class="Gia"></div>
  </div>
  <div class="nav-menu">
    <ul>
      <li><a href="#">Search</a></li>
      <li><a href="#">Sign In</a></li>
      <li><a href="#">Sign Up</a></li>
      <li></li>
    </ul>
  </div>
  <div class="selected">
    <a [routerLink]="['/home']">
      <span>HOME</span> </a>
    <a [routerLink]="['/hire']">
      <span>HIRE</span></a>
    <a [routerLink]="['/for-hire']">
      <span>FOR_HIRE</span></a>
  </div>
</div>