<div     class="housedetail">
  <div class="img">
    <img  [src]=house.img alt="" >
    <p class="">Gia : {{house.price}} Ngan /Mot thang</p>
  </div>
  <div class="content">
    <h1>{{house.name}}</h1>
      <p class="">The Loai nha : {{house.type}}</p>
      <p class="">Tp:   {{house.city}}</p>
      <p class="">Quan :{{house.district}}</p>
      
      <p class="">Dien Tich: {{house.length}} (m) x {{house.width}}(m)</p>
      <p class="">So Phong Ngu: {{house.spn}}</p>
      <p class="">So Phong Ve Sinh: {{house.svs}}</p>
      <h3>NOTES</h3>
        <p>{{house.p1}}</p>
  </div>
</div>