:host{
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;

    margin-top: 20px;
    
}
.housedetail{
    margin-bottom: 10px;
    margin-right:  20px;
    display: flex;
	flex-direction: row-reverse;
	flex-wrap: nowrap;
	justify-content: center;
	
	align-content: center;
    width: 55%;
	
}
.housedetail .img {
    width: 100%;
    height: 100%;
}
.housedetail .img img {
    width: 100%;
    height: 200px;
}
.content{
    width: 100%;
    height: 80vh;

}
.content h1 {
        font-size: 50px;

}
.content p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 2px;
    margin-bottom: 2px;
}