
app-house{
    display: flex;
    width: 30%;
  flex-wrap: wrap;
  } 
.dashboard{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    align-content: flex-start;
    overflow-y:scroll;
    height: 80vh; 

}