.wrapper {
    display: flex;  
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
  }
  
  .wrapper > * {
    padding: 10px;
    flex: 1 100%;
  }
  
  .header {
    background: tomato;
  }
  
  .footer {
    background: lightgreen;
  }
  
  .main {
    text-align: left;
    background: deepskyblue;
    flex: 3 0px;
  order:2;}
  
  .aside-1 {
    background: gold;
    order: 1;
  }
  
  .aside-2 {
    background: hotpink;
  }
  .aside {flex: 1 auto;}
  .aside-2 { order: 3; }
  .footer  { order: 4; }
  body {
    padding: 2em; 
  }
  