:host {
    /* display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
    align-content: stretch; */

}
.housedetail{
    margin-bottom: 10px;
    margin-right:  20px;
    display: flex;
    flex-direction:column;
    width: 100%;

	
}
.housedetail .img {
    width: 100%;
    height: 100%;
}
.housedetail .img img {
    width: 100%;
    height: 200px;
}
.housedetail .content{
    flex: 1;
}
.housedetail .btn{
    
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: baseline;
    align-content: stretch;
    margin-top: 10px;
}
.housedetail .btn button {
    background: #009ED8;
    color:  white;
    border-radius:10px;
}
.housedetail .btn .search {
    margin-right: 30px;
}

.housedetail .btn button:hover{
    background: darken(#009ED8, 10%);
}


.content p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 2px;
    margin-bottom: 2px;
}
