<!-- <div class="housedetail" *ngFor="let house of house"> -->
<div class="housedetail">
    <div class="img">
        <img [src]=house.img>
    </div>
    <div class="content">
        <h2 style="color: blue;">{{house.name}}</h2>
        <p class="">The Loai nha : {{house.type}}</p>
        <p class="">Tp: {{house.city}}</p>
        <p class="">Quan :{{house.district}}</p>
        <p class="">Gia : {{house.price}} /Mot thang</p>
    </div>
    <div class="btn">
        <button class="button search" (click)="coihouse(house)"> Xem Dia Chi</button>
        <button class="button hire"[routerLink]="['/house/' + house.id]"> Thue Nha</button>
    </div>
</div>
<!-- <app-house-detail></app-house-detail>
<button (click)="pickhouse()" >âsassaaa</button>
[routerLink]="['/house/' + house.id]" -->