<div class="a">
  <span>Nhập Loại nhà:</span> <input type="text" />
  <span>Nhập Thành Phố:</span><input/>
  <span>Quận :</span><input/>
  <span>Đường:</span><input/>
  <span>Chiều dài:</span><input/>
  <span>Chiều Rộng :</span><input/>
  <span>Giá :</span><input/>
  <span>Số phòng Ngủ:</span><input/>
  <span>Số Phòng vệ sinh:</span><input/>

</div>