:host{
  display: flex;
  margin-top: 20px;
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}
.dashboard{
  width: 50%;
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: baseline;
  align-content: stretch;
  height: 80vh;
  overflow-y: scroll;

}
app-house{
  display: flex;
  width: 50%;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.map{
  width: 50%;
  height: 80vh;
}
.map .form-group input {
  width: 100%;
  height: 30px;
}
agm-map {
  width: 50%;
  height: 80vh;
  }
  .angular-google-map-container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    }
    