<div class="dashboard">
  <app-house *ngFor="let item of houses" [house]='item' (cooihouse)="coihouse($event)"></app-house>
</div>
<!-- <app-house ></app-house> -->
<div class="map">
  <div class="form-group">
    <input placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control"
      #search>
  </div>
  <agm-map [zoom]="zoom" id="map" [latitude]="lat" [longitude]="lng">
    <agm-marker [latitude]="10.8124232" [longitude]="106.7123402" iconUrl="./../assets/boss.png"></agm-marker>
    <agm-marker *ngFor="let item of houses" [latitude]="item.lat" [longitude]="item.lng"></agm-marker>
    <agm-info-window></agm-info-window>
  </agm-map>
</div>